
/**
 * 1 - Size & Positioning.
 * 2 - Text style.
 * 3 - Border & background style.
 * 4 - Special effects.
 */

/* Box.
 ------------------------- */

#box-container {}

.box
{
	max-width: 260px !important;
	margin: 5px;
	background-color: #282A36;
}

.box ul, .box li
{
	list-style: none;
	line-height: 30px;
}

#first-box
{
	margin-left: 0px;
}

#second-box {}
#third-box
{
	margin-right: 0px;
}

.box-title-container
{
	margin: 15px 0;
}

.box-title
{
	width: 150px;
	
	display: inline;
	
	border: none;
	background: #282A36;
}

.box-title:focus
{
	outline: none;
}

.box-link-container
{
	margin: 20px 0;
}

.box-link-container a,
.box-link-container a:hover,
{
	text-decoration: none;
}

.buffer-box
{
	margin: -1.75px;
}

#first-buffer
{
	margin-right: 0.1px;
}
#second-buffer
{
	margin-right: 5px;
}
#third-buffer {}

/* Box options.
 ------------------------- */

.link-edit-button,
.link-remove-button
{
	width: 20px;
	height: 20px;
	
	transform: translate(25%, 20%);
}

/* Box settings.
 ------------------------- */

#ettings-box-container {}

.settings-box
{
	max-width: 260px !important;
	height: 75px;
	
	margin: 5px;
	border: 1px solid #282A36; /* REMOVE WHEN DONE */
	
	background: #282A36;
}

#first-settings-box
{
	margin-left: 0px !important;
}
#second-settings-box {}
#third-settings-box
{
	margin-right: 0px !important;
}

.enable-setting,
.lock-setting
{
	margin-top: 7.5px;
}

/* TODO */

/* Box effects.
 ------------------------- */

.box-shadow
{
	box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	-webkit-box-shadow: 1px 1px 20px 0px #000;
}
 
.box-blur
{
	-webkit-filter: blur(5px);
}

.box-clear
{
	-webkit-filter: blur(0px);
}

